// Variables
@import 'variables';

// Reset
        /* Box sizing rules */
        *, *::before, *::after {
            box-sizing: border-box;
        }

        /* Remove default padding */
        ul, ol {
            padding: 0;
        }

        /* Remove default margin */
        body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
            margin: 0;
        }

        /* Set core body defaults */
        body {
            min-height: 100vh;
            scroll-behavior: smooth;
            text-rendering: optimizeSpeed;
            line-height: 1.5;
        }

        /* Remove list styles on ul, ol elements with a class attribute */
        ul[class], ol[class] {
            list-style: none;
        }

        /* A elements that don't have a class get default styles */
        a:not([class]) {
            text-decoration-skip-ink: auto;
        }

        /* Make images easier to work with */
        img {
            max-width: 100%;
            display: block;
        }

        /* Natural flow and rhythm in articles by default */
        article > * + * {
            margin-top: 1em;
        }

        /* Inherit fonts for inputs and buttons */
        input, button, textarea, select {
            font: inherit;
        }

// Base
        html {
            background: url('storage/images/bg.jpg') no-repeat top center;
            background-size: 100%;
            font-size: 16px;
            font-family: $body;
        }

// Typograhy
        h1 {
            font-family: $headings;
            font-size: 3rem;
            line-height: 3rem;
        }

        h1.body-heading {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        p {
            font-family: $body;
            margin-bottom: 1.5rem;
        }

        .subtext {
            font-size: 12px;
            font-style: italic;
            margin-top: 0.5rem;
        }

// Lists 
        .checklist {
            padding-bottom: 1rem;

            li {
                margin-bottom: 1rem;
            }

            li:before {
                content: "\2714";
                margin-right: 1rem;
            }
        }

// App
        #app {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            padding: 4rem 0;
        }

        #main-content {
            width: 70%;
            max-width: 960px;
            height: 100%;
        }

        .header {
            height: 50%;
            display: flex;
            flex-direction: column;
            margin-bottom: 4rem;
        }

        .header-small {
            margin-bottom: 0;
        }

        .header-links {
            margin: 4rem 0;

            .button {
                margin-right: 2rem;
            }
        }

        .button {
            display: inline-block;
            padding: 0.5rem;
            background-color: black;
            font-size: 14px;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

        .button::after {
            content: '\279E';
            margin-left: 0.5rem;
            transition: 0.2s ease all;
        }

        .button:hover {
            padding-right: 1rem;
            ::after {
                margin-left: 1rem;
            }
        }.button:hover::after {
            margin-left: 1rem;
        }

        .link {
            color: black;
            transition: 0.2s ease all;
            text-decoration: solid underline black 2px;
            text-underline-position: under;
        }

        .link:hover {
            text-decoration-thickness: 6px;
        }

        section {
            margin-bottom: 4rem;
        }

        .service-intro {
            display: flex;
            justify-content: space-between;
        }

// Nav
        nav {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo-link {
                width: 107px;
            }

            .long-line {
                display: block;
                background-color: black;
                width: 1px;
                height: 120px;
                margin: 10px 0;
            }

            .short-line {
                display: block;
                background-color: black;
                width: 1px;
                height: 46px;
                margin: 10px 0;
            }

            .nav-link {
                text-transform: uppercase;
                color: black;
                text-decoration: none;
                letter-spacing: 0rem;
                transition: 0.2s ease all;
                margin: 0.25rem 0;
            }

            .nav-link:hover, .nav-link:focus {
                letter-spacing: 0.1rem;
            }

            .nav-icon {
                width: 18px;
                height: 18px;
                margin: 0.25rem;
            }
        }

// Featured Project
        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            img {
                width: 320px;
                height: 165px;
                background-color: black;
            }

            .button {
                margin-top: 1rem;
            }
        }

        .featured-project-title {
            font-family: $headings;
            font-size: 2rem;
            margin: 0;
        }

// Projects
        #filmstrip {
            display: flex;
            justify-content: space-between;
        }

        .project-thumbnail {
            width: 12.5%;
            height: 50px;
            transition: 0.2s ease all;
            cursor: pointer;
        }

        .project-thumbnail:hover {
            transform: scale(1.05);
        }
        
        .black {
            background-color: black;
        }

        .active-project {
            display: flex;
            justify-content: space-between;

            img {
                max-width: 480px;
            }
        }

// Footer
        .horizontal-line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: black;
        }

        footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 30%;
            max-width: 960px;

            p {
                text-align: right;
                margin-bottom: 0;
                font-size: 0.75rem;
            }

            p:first-child {
                text-align: left;
            }
        }

        .colophon {
            font-size: 1rem;
            text-align: right;
            font-family: $headings;
        }

// https://tobiasahlin.com/blog/layered-smooth-box-shadows/