@charset "UTF-8";

:root {
  --bg-img: url("/storage/images/bg.jpg") no-repeat top center;
  --font-color: black;
  --link-color: white;
  --bg-color: black;
  --link-underline: solid underline black 2px;
  --logo: url("/storage/images/logo.svg") no-repeat top center;
}

[data-theme=day] {
  --bg-img: url("/storage/images/bg.jpg") no-repeat top center;
  --font-color: black;
  --link-color: white;
  --bg-color: black;
  --link-underline: solid underline black 2px;
}

[data-theme=night] {
  --bg-img: url("/storage/images/bg_i.jpg") no-repeat top center;
  --font-color: white;
  --link-color: black;
  --bg-color: white;
  --link-underline: solid underline white 2px;
  --logo: url("/storage/images/logo_white.svg") no-repeat top center;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--font-color);
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

html {
  background: var(--bg-img);
  background-size: 100%;
  font-size: 16px;
  font-family: Hack, monospace;
}

h1 {
  font-family: urw-din, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

h1.body-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  font-family: Hack, monospace;
  margin-bottom: 1.5rem;
}

.subtext {
  font-size: 12px;
  font-style: italic;
  margin-top: 0.5rem;
}

.checklist {
  padding-bottom: 1rem;
}

.checklist li {
  margin-bottom: 1rem;
}

.checklist li:before {
  content: "\2714";
  margin-right: 1rem;
}

#app {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 4rem 0;
}

#top-thing {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#main-content {
  width: 70%;
  max-width: 960px;
  height: 100%;
}

.header {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.header-small {
  margin-bottom: 0;
}

.header-links {
  margin: 4rem 0;
}

.header-links .button {
  margin-right: 2rem;
}

.button {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--bg-color);
  font-size: 14px;
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.button::after {
  content: "\279E";
  margin-left: 0.5rem;
  transition: 0.2s ease all;
}

.button:hover {
  padding-right: 1rem;
}

.button:hover ::after {
  margin-left: 1rem;
}

.button:hover::after {
  margin-left: 1rem;
}

.link {
  color: var(--font-color);
  transition: 0.2s ease all;
  -webkit-text-decoration: var(--link-underline);
          text-decoration: var(--link-underline);
  text-underline-position: under;
}

.link:hover {
  text-decoration-thickness: 6px;
}

.go-back {
  text-decoration: none;
}

.go-back::before {
  display: inline-block;
  content: "\279E";
  margin-right: 0.5rem;
  transform: rotate(180deg);
  transition: 0.2s ease all;
}

section {
  margin-bottom: 4rem;
}

.service-intro {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .logo-link {
  width: 107px;
  height: 107px;
  background: var(--logo);
}

nav .long-line {
  display: block;
  background-color: var(--bg-color);
  width: 1px;
  height: 120px;
  margin: 10px 0;
}

nav .short-line {
  display: block;
  background-color: var(--bg-color);
  width: 1px;
  height: 46px;
  margin: 10px 0;
}

nav .nav-link {
  text-transform: uppercase;
  color: var(--font-color);
  text-decoration: none;
  letter-spacing: 0rem;
  transition: 0.2s ease all;
  margin: 0.25rem 0;
  cursor: pointer;
}

nav .nav-link:hover,
nav .nav-link:focus {
  letter-spacing: 0.1rem;
}

nav .nav-icon {
  width: 18px;
  height: 18px;
  margin: 0.25rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right img {
  width: 320px;
  height: 165px;
  background-color: black;
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

.right .button {
  margin-top: 1rem;
}

.featured-project-title {
  font-family: urw-din, sans-serif;
  font-size: 2rem;
  margin: 0;
}

#filmstrip {
  display: flex;
  justify-content: space-between;
}

.project-thumbnail {
  width: 12.5%;
  height: 50px;
  transition: 0.2s ease all;
  cursor: pointer;
}

.project-thumbnail:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09);
  transform: scale(1.05);
}

.black {
  background-color: var(--bg-color);
}

.project-info {
  width: 45%;
}

.active-project {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.active-project img {
  width: 480px;
  height: 260px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

.article-meta {
  margin-bottom: 10rem;
}

.article-excerpt {
  font-weight: bold;
  font-size: 1.25rem;
}

.article-box {
  margin-bottom: 5rem;
}

.article-box h1 {
  margin-bottom: 0;
}

.article-body a {
  color: var(--font-color);
  transition: 0.2s ease all;
  -webkit-text-decoration: var(--link-underline);
          text-decoration: var(--link-underline);
  text-underline-position: under;
}

.article-body a:hover {
  text-decoration-thickness: 6px;
}

.horizontal-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--bg-color);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  max-width: 960px;
}

footer p {
  text-align: right;
  margin-bottom: 0;
  font-size: 0.75rem;
}

footer p:first-child {
  text-align: left;
}

.colophon {
  font-size: 1rem;
  text-align: right;
  font-family: urw-din, sans-serif;
}

@media (max-width: 720px) {
  #app {
    width: 100%;
    flex-direction: column;
  }

  nav {
    width: 90%;
    align-self: center;
    justify-content: cernter;
    margin-bottom: 3rem;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .long-line,
  .short-line {
    display: none !important;
  }

  .header-links {
    display: flex;
    flex-direction: column;
  }

  #main-content {
    width: 90%;
    align-self: center;
  }

  .service-intro {
    flex-direction: column;
  }

  .modal-mask {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .modal-container {
    max-width: none !important;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
  }

  .active-project {
    flex-direction: column;
  }

  .active-project .project-info {
    width: 100%;
    margin-bottom: 3rem;
  }

  footer {
    width: 90%;
    align-self: center;
    margin-left: 0;
    max-width: none;
  }
}

